[Unit]
Description=Perform radon's startup initialization tasks
Requires=lxc@android.service
Before=furios-boot-wlan.service
After=mtk-wmt-manager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/radon-startup

[Install]
WantedBy=multi-user.target
