[Unit]
Description=Run radon performance tweaks on startup
Requires=lxc@android.service
After=android_boot_completed.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/radon-performance

[Install]
WantedBy=multi-user.target
