Source: adaptation-furiphone-radon
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: metapackages
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libglib2.0-dev,
               libwayland-dev,
               wayland-protocols,
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/adaptation-furiphone-radon
Vcs-Git: https://github.com/furilabs/adaptation-furiphone-radon.git

Package: adaptation-furiphone-radon
Architecture: arm64
Pre-Depends: linux-bootimage-furiphone-radon,
             linux-image-furiphone-radon,
#             radon-vendor-32 (>= 9),
             mtk-wifi-manager,
Depends: ${misc:Depends},
         adaptation-hybris-api32-phone,
         adaptation-radon-configs,
         pqcli,
         gsd-adapter,
         assistant-button,
         ofono-binder-plugin-ext-mtk,
         radon-factory-image,
         radon-modem-image,
Essential: yes
Description: adaptation-furiphone-radon - meta
 FuriPhone FLX1 api32 adaptation metapackage

Package: adaptation-radon-configs
Architecture: arm64
Pre-Depends: linux-bootimage-furiphone-radon,
             linux-image-furiphone-radon,
#             radon-vendor-32 (>= 9),
Depends: ${misc:Depends}, ${shlibs:Depends},
         bsdextrautils,
         e2fsprogs,
         python3-dbus,
Description: radon's adaptation configs
