#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	mkdir -p usr/libexec/
	wayland-scanner private-code < /usr/share/wayland-protocols/stable/xdg-shell/xdg-shell.xml > src/xdg-shell-protocol.c
	wayland-scanner client-header < /usr/share/wayland-protocols/stable/xdg-shell/xdg-shell.xml > src/xdg-shell-client-protocol.h
	gcc src/xdg-toplevel-getinfo.c src/xdg-shell-protocol.c `pkg-config --cflags --libs wayland-client gio-2.0` -lwayland-client -lm -o usr/libexec/xdg-toplevel-getinfo

override_dh_installsystemd:
	dh_installsystemd -padaptation-radon-configs --name=radon-performance radon-performance.service --no-start
	dh_installsystemd -padaptation-radon-configs --name=radon-startup radon-startup.service --no-start
